.display{
    display: none;
}

/*****************************
 * Section id="presentation" *
 *****************************/
#pres-container{
    width: 100%;
    height:800px;
    background-color: black;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#title, .btn-col{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
}

.btn-col{
    align-items: center;
}
.title-img{
    width: 900px;
    height: 450px;
}

.btn-start{
    width: 200px;
    height:100px;
    background-color:orange;
    border:1px solid white;
}

/*****************************
 *       div id="game"       *
 *****************************/

#game{
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-logo-top{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: -90px;
}

.game-title{
    width: 300px;
    height: 100%;
}

/*****************************
 * Section id="class-select" *
 *****************************/

#class-select, #gameMain, #arena{
    width: 80%;
    height: 70%;
    border: 5px solid #3d4654;
    border-radius: 15px;
    background-color: #8e99ad;
}

.class-text{
    width: 100%;
    height: 10%;
    text-align: center;
}

.text-class-select{
    font-size: 25px;
}

.text-stat{
    text-decoration: underline;
}
.class-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: -40px;
}

.char-container{
    width: 20%;
    height: 85%;
    border: 3px solid #3d4654;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.class-name{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.class-img{
    width: 100%;
    height: 40%;
    text-align: center;
}

.class-stat{
    width: 100%;
    height: 48%;
    margin-left: 35px;
    color: white;
}

.char-img{
    width: 75%;
    height: 100%;
    border: 3px solid #3d4654;
}

.class-btn{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}
.btn-class-select{
    width: 150px;
    height: 50px;
    background-color:#0F2A33;
    border-radius: 20px;
    color: gold
}

/*****************************
 *   Section id="gameMain"   *
 *****************************/

 #gameMain{
    background-image: url(images/city.jpg);
 }

 .activity-container{
     width: 100%;
     height: 50%;
     display: flex;
     flex-direction: column;
 }

 .arena-dungeon, .arena-dungeon-text, .shop-inv-bs, .shop-inv-bs-text{
     width: 100%; 
     height: 90%;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .arena-dungeon-text, .shop-inv-bs-text{
     font-size: 20px;
     height: 10%;
     color: gold;
 }

 .shop-inv-bs, .shop-inv-bs-text{
     justify-content: space-around;
 }

 .activity-img, .activity-img2{
     width: 20%;
     height: 80%;
     border-radius: 120px;
 }

 .activity-img2{
     border: 3px solid black;
 }

 .hide{
     color: black;
 }

/*****************************
 *    Section id="arena"     *
 *****************************/

 #arena{
     background-image: url(images/fightMap.png);
 }
.top-HUD{
    width: 100%;
    height: 65%;
    display: inline-flex;
}

.skills-HUD{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.character-container, .monster-container{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.middle-top-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.versus-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bar{
    width: 100%;
    height: 30%;
    border-radius: 15px;
    background-color: black;
    opacity: 0.5;
}

.fighters-img{
    width: 100%;
    height: 90%;
}

#player-health, #monster-health{
    width: 95%;
    height: 6%;
    background-color: green;
}

.versus-logo{
    width: 40%;
    height: 70%;
}

.skill-toolbar{
    width: 48%;
    height: 98%;
    border: 4px solid rgb(124,64,48);
    border-radius: 15px;
    background-color: black;
    opacity: 0.75;
}

.skill1-2, .skill3-4{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-btn{
    width: 30%;
    height: 50%;
    border-radius: 10px;
    opacity: 1;
}

.battle-item-HUD, .next-btn-HUD{
    width: 23%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next-btn-HUD{
    justify-content: space-around;
}

.next-btn, .back-btn{
    width: 70%;
    height: 35%;
}
td{
    width: 100%;
    height: 100%;
}

.hp-potion{
    width: 30%;
    height: 50%;
}
/*****************************
 *   Section id="dungeon"    *
 *****************************/

/*****************************
 *     Section id="shop"     *
 *****************************/

/*****************************
 *  Section id="blackSmith"  *
 *****************************/

/*****************************
 *  Section id="inventory"   *
 *****************************/
