.display{
    display: none;
}

/*****************************
 * Section id="presentation" *
 *****************************/
#pres-container{
    width: 100%;
    height:800px;
    background-color: black;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#title, .btn-col{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
}

.btn-col{
    align-items: center;
}
.title-img{
    width: 900px;
    height: 450px;
}

.btn-start{
    width: 200px;
    height:100px;
    background-color:orange;
    border:1px solid white;
}

/*****************************
 *       div id="game"       *
 *****************************/

#game{
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-logo-top{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: -110px;
}

.game-title{
    width: 300px;
    height: 100%;
}

/*****************************
 * Section id="class-select" *
 *****************************/

#class-select, #gameMain{
    width: 80%;
    height: 70%;
    border: 5px solid #3d4654;
    border-radius: 15px;
    background-color: #8e99ad;
}

.class-text{
    width: 100%;
    height: 10%;
    text-align: center;
}

.text-class-select{
    font-size: 25px;
}

.text-stat{
    text-decoration: underline;
}
.class-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: -40px;
}

.char-container{
    width: 20%;
    height: 85%;
    border: 3px solid #3d4654;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.class-name{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.class-img{
    width: 100%;
    height: 40%;
    text-align: center;
}

.class-stat{
    width: 100%;
    height: 48%;
    margin-left: 35px;
    color: white;
}

.char-img{
    width: 75%;
    height: 100%;
    border: 3px solid #3d4654;
}

.class-btn{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}
.btn-class-select{
    width: 150px;
    height: 50px;
    background-color:#0F2A33;
    border-radius: 20px;
    color: gold
}

/*****************************
 *   Section id="gameMain"   *
 *****************************/

 #gameMain{
    background-image: url(images/city.jpg);
 }

 .activity-container{
     width: 100%;
     height: 50%;
     display: flex;
     flex-direction: column;
 }

 .arena-dungeon, .arena-dungeon-text, .shop-inv-bs, .shop-inv-bs-text{
     width: 100%; 
     height: 90%;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .arena-dungeon-text, .shop-inv-bs-text{
     font-size: 20px;
     height: 10%;
     color: gold;
 }

 .shop-inv-bs, .shop-inv-bs-text{
     justify-content: space-around;
 }

 .activity-img, .activity-img2{
     width: 20%;
     height: 80%;
     border-radius: 120px;
 }

 .activity-img2{
     border: 3px solid black;
 }

 .hide{
     color: black;
 }

/*****************************
 *    Section id="arena"     *
 *****************************/

/*****************************
 *   Section id="dungeon"    *
 *****************************/

/*****************************
 *     Section id="shop"     *
 *****************************/

/*****************************
 *  Section id="blackSmith"  *
 *****************************/

/*****************************
 *  Section id="inventory"   *
 *****************************/
